@model IEnumerable<Do_An_Web_K2.Models.InformationPhim>
@{
    var idList1 = new List<int> { 1,2,3,4}; // Danh sách các ID mà bạn muốn hiển thị
    var Movieitems1 = Model.Where(item => idList1.Contains(item.Id)).Take(4);
    //danh sach Phim Thứ hai trong sql
    var idList2 = new List<int> { 5, 6, 7, 8 };
    var Movieitems2 = Model.Where(item => idList2.Contains(item.Id)).Take(4);
    //Danh Sach Phim Thu Ba trong sql
    var idList3 = new List<int> { 9, 10, 11, 12 };
    var Movieitems3 = Model.Where(item => idList3.Contains(item.Id)).Take(4);
    //Danh Sach Phim Th 4 trong sql
    var idList4 = new List<int> { 13, 14, 15, 16 };
    var Movieitems4 = Model.Where(item => idList4.Contains(item.Id)).Take(4);
    //Danh Sach Phim noi bat bên Phải
    var idList5 = new List<int> { 17, 18, 19, 20 };
    var Movieitems5 = Model.Where(item => idList5.Contains(item.Id)).Take(4);
    //Danh sach trình chiếu
    var idList6 = new List<int> { 21, 22, 23, 24, 25, 26, 27, 28 };
    var Movieitems6 = Model.Where(item => idList6.Contains(item.Id)).Take(8);
    //Danh Sach Phim moi bat nhat
    var idList7 = new List<int> { 7 };
    var Movieitems7 = Model.Where(item => idList7.Contains(item.Id)).Take(1);
    //Danh sach so nam Phim
    var idList8 = new List<int> { 1, 3, 6};
    var Movieitems8 = Model.Where(item => idList8.Contains(item.Id)).Take(3);
    var idList9 = new List<int> {  7, 9, 12};
    var Movieitems9 = Model.Where(item => idList9.Contains(item.Id)).Take(3);
    var idList10 = new List<int> { 14,16, 19};
    var Movieitems10 = Model.Where(item => idList10.Contains(item.Id)).Take(3);
    var idList11 = new List<int> { 21, 24,27};
    var Movieitems11 = Model.Where(item => idList11.Contains(item.Id)).Take(3);
}
<div class="mid">
    <div class="contentleft">
        <div class="content1">
            <div class="home-slider swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Movieitems6)
                    {
                    <div class="swiper-slide">
                            <img src="@item.Image">
                            <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                            <div class="overlay">
                                    <div class="play-button">
                                        &#9658;
                                    </div>
                   
                            </div>
                            </a>
                        <p>@item.TieuDePhim</p>
                    </div>
                    }
                </div>
                <!-- Phân trang -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div id="Phim">
                <h4>Phim chiếu rạp mới nổi bật</h4>
            <div class="content2">
                @foreach (var item in Movieitems1)
                {
                    <div class="Khunganh">
                        <div class="img">
                            <div class="video-thumbnail">
                                <img src="@item.Image" alt="">
                                <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                                    <div class="overlay">
                                        <div class="play-button">
                                            &#9658;
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="trangthai">@item.TrangThai</div>

                        </div>
                        <div class="TieuDe">
                            <p>@item.TieuDePhim</p>
                            <p class="nam">@item.SoNamPhim</p>
                        </div>
                    </div>
                }
        </div>
            <h4>Phim chiếu rạp nổi bật</h4>
                <div class="content3">
                @foreach (var item in Movieitems2)
                {
                    <div class="Khunganh">
                        <div class="img">
                            <div class="video-thumbnail">
                                <img src="@item.Image" alt="">
                                <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                                    <div class="overlay">
                                        <div class="play-button">
                                            &#9658;
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="trangthai">@item.TrangThai</div>

                        </div>
                        <div class="TieuDe">
                            <p>@item.TieuDePhim</p>
                            <p class="nam">@item.SoNamPhim</p>
                        </div>
                    </div>
                }
                </div>
            <h4>Phim lẻ mới cập nhật</h4>
            <div class="content4">
                @foreach (var item in Movieitems3)
                {
                    <div class="Khunganh">
                        <div class="img">
                            <div class="video-thumbnail">
                                <img src="@item.Image" alt="">
                                <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                                    <div class="overlay">
                                        <div class="play-button">
                                            &#9658;
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="trangthai">@item.TrangThai</div>

                        </div>
                        <div class="TieuDe">
                            <p>@item.TieuDePhim</p>
                            <p class="nam">@item.SoNamPhim</p>
                        </div>
                    </div>
                }
                </div>
            <h4>Phim bộ mới cập nhật</h4>
            <div class="content5">
                @foreach (var item in Movieitems4)
                {
                    <div class="Khunganh">
                        <div class="img">
                            <div class="video-thumbnail">
                                <img src="@item.Image" alt="">
                                <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                                    <div class="overlay">
                                        <div class="play-button">
                                            &#9658;
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="trangthai">@item.TrangThai</div>

                        </div>
                        <div class="TieuDe">
                            <p>@item.TieuDePhim</p>
                            <p class="nam">@item.SoNamPhim</p>
                        </div>
                    </div>
                }
                </div>
        </div>
        <h3>Sắp ra mắt</h3>
        <div class="infomation">
            <div class="imgs"> <img src="~/Web/DoAnWeb/images/Thể loại/Kinh dị/Night Swim/Night Swim.jpg" alt=""></div>
            <div>
                <h4>Night Swim - Bơi đêm</h4>
                <p>
                    Từ câu chuyện về cuộc sống gia đình bình thường đã biến thành một nỗi ám ảnh kinh hoàng. Không chạy, không lặn, không cứu hộ và không bơi sau khi màn đêm buông xuống. Bơi Đêm chạm đến nỗi sợ hãi sâu thẳm của bất kỳ ai mỗi khi bước xuống hồ bơi rằng họ sẽ bị mắc kẹt dưới nước.
                </p>
            </div>
        </div>
        <div class="infomation">
            <div class="imgs"> <img src="~/Web/DoAnWeb/images/Thể loại/Hành động/Đại Hải Chiến Noryang Biển Chết/Đại Hải Chiến Noryang Biển Chết.jpg" alt=""></div>
            <div>
                <h4>Đại Hải Chiến Noryang: Biển Chết</h4>
                <p>
                    Đô đốc Yi Sun-sin, người đã dẫn dắt Hải quân Triều Tiên giành chiến thắng trong nhiều trận chiến trước đó,
                    đang dẫn đầu một hạm đội liên minh của Triều Tiên và nhà Minh để đánh bại quân Nhật trong trận chiến quyết định ở eo biển Noryang.
                </p>
            </div>
        </div>
        <div class="infomation">
            <div class="imgs"> <img src="~/Web/DoAnWeb/images/Thể loại/Viễn tưởng/Siêu Khỉ Cuồng Nộ/Siêu Khỉ Cuồng Nộ.jpg" alt=""></div>
            <div>
                <h4>Siêu Khỉ Cuồng Nộ</h4>
                <p>
                    Phim kể về một con khỉ đột khổng lồ bị quân đội bắt giữ và giam giữ. Để đối phó với mối đe dọa này, quân đội đã tạo ra một robot khổng lồ có tên là Mecha Ape. Tuy nhiên, trong một cuộc thử nghiệm, Mecha Ape đã trở nên mất kiểm soát và tấn công thành phố Chicago. Quân đội buộc phải thả con khỉ đột khổng lồ ra để ngăn chặn Mecha Ape.
                </p>
            </div>
        </div>
    </div>
    <div class="contentright">
        <div class="right1">
            <div class="year">
                <h4>Năm phát hành</h4>
            </div>
            <div class="year1">
                <div>
                    <ul>
                        @foreach (var item in Movieitems8)
                        {
                            <li>
                                <a asp-controller="Phimlist" asp-action="NamPhim" asp-route-id="@item.Id">
                                    @item.SoNamPhim
                                </a>
                            </li>
                        }
                    </ul>
                    <ul>
                        @foreach (var item in Movieitems9)
                        {
                            <li>
                                <a asp-controller="Phimlist" asp-action="NamPhim" asp-route-id="@item.Id">
                                    @item.SoNamPhim
                                </a>
                            </li>
                        }
                    </ul>
                    <ul>
                        @foreach (var item in Movieitems10)
                        {
                            <li>
                                <a asp-controller="Phimlist" asp-action="NamPhim" asp-route-id="@item.Id">
                                    @item.SoNamPhim
                                </a>
                            </li>
                        }
                    </ul>
                    <ul>
                        @foreach (var item in Movieitems11)
                        {
                            <li>
                                <a asp-controller="Phimlist" asp-action="NamPhim" asp-route-id="@item.Id">
                                    @item.SoNamPhim
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
        <div class="right2">
            @foreach(var item in Movieitems7){
            <div class="movie">
                    <div class="video-thumbnail">
                        <img class="img" src="@item.Image" alt="">
                        <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                            <div class="overlay">
                                <div class="play-button">
                                    &#9658;
                                </div>
                            </div>
                        </a>
                    </div>
                <p class="tenphim">@item.TieuDePhim</p><p class="tenphim">@item.SoNamPhim</p>
            </div>
            }
            <div class="baiviet">
                <b>Các bộ mới nổi gần đây</b>
                <hr>
                @foreach (var item in Movieitems5)
                {
                <div class="quangcao">
                        <div class="imgright2">
                            <div class="video-thumbnail">
                                <img src="@item.Image" alt="">
                                <a asp-controller="Phimlist" asp-action="Video" asp-route-id="@item.Id">
                                    <div class="overlay">
                                        <div class="play-button">
                                            &#9658;
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div class="informationquyangcao"> <p>@item.TieuDePhim<div class="saodanhgia"><p class="star"><i class="fa-solid fa-star"></i>&ensp;9.0</p><p class="nam">@item.SoNamPhim</p></div></p></div>
                </div>
                }
            </div>
        </div>
    </div>
</div>    
<div class="loading"><img src="~/Web/DoAnWeb/images/loading.gif" alt=""></div>
